body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.qr_barcode {
  border-radius: 10px;
  background-color: #2a88cf;
  padding: 40px;
}
  
.qr_card{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30vh;
  text-align: center;
}
.qr_scan{
  color: hsl(218, 44%, 22%);
  font-weight: 600;
}

.qr_coded {
  color: hsl(216, 15%, 48%);
  opacity: 60%;
}